# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
*/.settings/
*/.mvn/
*/target/
*/Springboots-list-*/.apt_generated/
*/Springboots-list-*/.apt_generated_tests/
*/Springboots-list-*/.project/
*/Springboots-list-*/.classpath/
*/Springboots-list-*/.target/
*/Springboots-list-*/.gitignore
*/Springboots-list-*/.mvn/
*/Springboots-list-*/mvnw
*/Springboots-list-*/mvnw.cmd
*/Springboots-list-*/.factorypath
*/Springboots-list-*/.setting/


*/.project/
*/.classpath/
*/mvnw
*/mvnw.cmd
# Executables
*.swf
*.air
*.ipa
*.apk
*.class
*.classes
*.jar
*.war

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
