# Build and Release Folders
bin-debug/
bin-release/


# Other files and folders
*/.settings/
*/.mvn/


Springboots-list-*/.apt_generated/
Springboots-list-*/.apt_generated_tests/
Springboots-list-*/.project/
Springboots-list-*/.classpath/
Springboots-list-*/.target/
Springboots-list-*/.gitignore
Springboots-list-*/.mvn/
Springboots-list-*/mvnw
Springboots-list-*/mvnw.cmd
Springboots-list-*/.factorypath
Springboots-list-*/.setting/


*/*/.apt_generated/
*/*/.apt_generated_tests/
*/*/.project/
*/*/.classpath/
*/*/.target/
*/*/.gitignore
*/*/.mvn/
*/*/mvnw
*/*/mvnw.cmd
*/*/.factorypath
*/*/.setting/

*/Springboots-list-*/.apt_generated/
*/Springboots-list-*/.apt_generated_tests/
*/Springboots-list-*/.project/
*/Springboots-list-*/.classpath/
*/Springboots-list-*/.target/
*/Springboots-list-*/.gitignore
*/Springboots-list-*/.mvn/
*/Springboots-list-*/mvnw
*/Springboots-list-*/mvnw.cmd
*/Springboots-list-*/.factorypath
*/Springboots-list-*/.setting/


*/.project/
*/.classpath/
*/mvnw
*/mvnw.cmd

# Executables
*.swf
*.air
*.ipa
*.apk
*.class
*.classes
*.jar
*.war


